@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500&display=swap');



@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../assets/fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTW06-97BlkCnObl';
    src: url('../../assets/fonts/HelveticaNeueLTW06-97BlkCnObl.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTW06-97BlkCnObl.woff') format('woff');
    font-weight: 900;
    /* font-style: italic; */
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-77BdCnObl';
    src: url('../../assets/fonts/HelveticaNeueW01-77BdCnObl.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueW01-77BdCnObl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../assets/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../../assets/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueW01-66MediumIt';
    src: url('../../assets/fonts/HelveticaNeueW01-66MediumIt.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueW01-66MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('../../assets/fonts/TimesNRCyrMT.woff2') format('woff2'),
        url('../../assets/fonts/TimesNRCyrMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url('../../assets/fonts/Times-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Times-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('../../assets/fonts/TimesNRCyrMT-Bold.woff2') format('woff2'),
        url('../../assets/fonts/TimesNRCyrMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('../../assets/fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/TimesNewRomanPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}






body {
	font-family: 'Rubik', sans-serif;
	overflow: hidden;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}
a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	background: #fff;
	transition: all 0.5s;
	z-index: 997;
	padding: 5px 0 0px 0;
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
#header .logo  img {
	margin-bottom: 3px;
}

#header .logo a {
  color: #111111;
}

#header .logo a span {
  color: #e03a3c;
}

#header .logo img {
	max-height: 70px;
}

/*--------------------------------------------------------------
# Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left: 30px;
  background: #e03a3c;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: #111111;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 14px;
	font-family: poppins;
	font-size: 12px;
	font-weight: 400;
	color: #828282;
	white-space: nowrap;
	transition: 0.3s;
	text-transform: uppercase;
	font-family: 'HelveticaNeue';
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #e03a3c;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #e03a3c;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #111111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #e03a3c;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e03a3c;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  position: relative;
}

.color-blue {
	color:#251744;
}
.color-red {
	color:#ab282d;
}
.intro_section h1 {
	font-size: 110px;
	font-weight: bold;
	color: #af3438;
	line-height: 90px;
	font-family: 'HelveticaNeueW01-66MediumIt';
}
/* .intro_section {
	height: 100vh;
} */
.right_intro_sec {
	display: flex;
	height: 100%;
	align-items: center;
	font-size: 34px;
	color: #7b7b7b;
	font-family: 'HelveticaNeueW01-66MediumIt';
}

.left_intro {
	border-right: 1px solid #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}


#intro_section {
	background: #e1e0e0;
	padding: 0px 70px 40px 70px;
}
.left_intro_sec {
	border-right: 1px solid #fff;
}
.right_intro_sec h2 {
	align-content: center;
	margin: auto;
}
#clients {
	background: #e1e0e0;
	padding-top: 0;
	padding: 13px 0;
	margin-top: 0px;
}
.main-slider .swiper-slide  img {
	height: 100vh;
	width: 100%;
	object-fit: cover;
	object-position: top;
}
.main-slider .swiper-pagination {
	text-align: left;
	bottom: 90px!important;
}
.main-slider  .swiper-pagination-bullet {
	width: 12px;
	height: 7px;
	border-radius: 0px;
}
.swiper-pagination {
	bottom: 60px;
	left: 60px;
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.slider_main {
	position: absolute;
	bottom: 200px;
	color: #fff;
	left: 110px;
}
.slider_main h1 {
	font-size: 110px;
	font-family: 'Helvetica Neue';
	letter-spacing: 5px;
}
.slider_main b {
	font-family: 'HelveticaNeueW01-66MediumIt';
	font-weight: 500;
}
.slider_main span {
	color: #d73938;
}
.slider_main strong {
	letter-spacing: 10px;
	font-family: 'HelveticaNeueW01-66MediumIt';
	font-weight: 500;
}
.slider_main h5 {
	font-size: 65px;
	color: #db1c1c;
	text-transform: uppercase;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px; 
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}


.clients .swiper-slide img:hover {
  opacity: 1;
  filter: none;
}
.clients .swiper-pagination {
	display: none !important;
}
.logoSlidewaper {
	overflow: hidden;
    white-space: nowrap;
    position: relative;
} 
.logoSlide {
	display: inline-block;
	text-align: center;
	-moz-animation: logoSlide 20s linear infinite;
	-webkit-animation: logoSlide 20s linear infinite;
	animation: logoSlide 20s linear infinite;
}
.logoSlide img {
	max-width: 80px;
    margin: 0 36px;
}
@keyframes logoSlide {
	0% {
		-moz-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.tabs .nav-tabs {
  border: 0; 
}
.nav-link.text-center.active {
	border: none;
}
.tabs .nav.nav-tabs img {
	max-width: 160px;
	margin-bottom: 20px;
	/* height: 160px; */
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}
.tab-content .row {
	align-items: center; 
}
.nav-link.active {
	padding-bottom: 0px !important;
}
.tabs h4 {
	font-weight: 800;
	/* font-style: italic; */
	background: #2a0d51;
	padding: 13px 0;
	color: #fff;
	margin-bottom: 0px;
	font-size: 16px;
	letter-spacing: 3px;
}
.tabs .nav-item.col-3 {
	padding: 0;
}
.tabs .nav-link {
	padding: 0 0 10px!important;
}
.services_tab .nav-link.active {
	background: transparent !important;
}
.services_tab .nav.nav-tabs {
	background: #2a0d51;
	padding-top: 25px;
	padding-bottom: 10px;
}
.services_tab_content h2 {
	margin-bottom: 10px !important;
	margin-top: 20px;
	font-size: 44px !important;
	font-weight: 600;
}

.services_tab_content p {
	color: #626262;
	font-size: 20px;
	line-height: 42px;
}
.services_tab .tab-content {
	margin-top: -10px;
	background: #e0dfde;
	padding: 40px 80px 66px 50px !important; 
	color: #fff;
}
.services_tab .tab-content {
	background: #e0dfde !important;
}
.services_tab .tabs h4 {
	font-weight: 800;
	font-style: normal;
	color: #fff;
	margin-bottom: 0px;
	letter-spacing: 3px;
	font-size: 18px;
}
.services_tab_content h5 {
	font-size: 48px;
	color: #d52a1a;
	font-weight: 600;
}
.medical_features .tab_content_right h2 {
	font-weight: 600;
	font-size: 38px; 
	opacity: 0.7;
	font-style: italic;
}
.tabs.services_tab li {
	font-size: 28px;
	color: #867b76;
}

.services_tab_content h2 {
	font-size: 24px;
	color: #8e8e8e;
	letter-spacing: 10px;
	margin-bottom: 110px;
}
.services_tab_content h3 {
	color: #333;
	font-weight: 700 !important;
	text-transform: uppercase;
}

.nav-item.col {
	padding-left: 0;
	padding-right: 0;
}
.tabs .nav-link {
	border: none !important;
	cursor: pointer;
}
.tabs .tab-content {
	margin-top: -10px;
	background: #7f7c7b;
	padding: 50px 80px;
	color: #fff;
}
.medical_features .nav.nav-tabs {
	background: #e0dfde;
	padding-top: 50px;
}
.medical_features  .nav-link.active {
	background: transparent;
}

.tabs .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.tabs .tab-pane ul {
  list-style: none;
  padding: 0;
}

.tabs .tab-pane ul li {
  padding-bottom: 10px;
}

.tabs .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #e03a3c;
}

.tabs .tab-pane p:last-child {
  margin-bottom: 0;
}


.buttons_bottom {
	background: #fff;
	padding: 25px 120px;
	display: flex;
	justify-content: space-between;
	box-shadow: 2px 2px 12px #ccc;
}
.buttons_bottom .btn.btn-danger {
	background: #be1d2c;
	padding: 13px 60px;
	border: none !important;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 500;
}
@media (max-width:1500px) {
	.tabs .nav.nav-tabs img {
		max-width: 110px;
	}
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonial_sec {
	background: #878484;
	padding: 33px 0;
}
.testimonial_sec .testimonial-item {
	background: #fff;
	padding: 110px 130px;
	border-radius: 20px;
	max-width: 1220px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 60px;
}
/* .testimonial_sec .swiper-pagination {
	display: none !important;
} */

.testimonial-item p {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 31px;
	color: #b0363b;
	font-style: italic;
}
.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}
.testimonial_sec .swiper-button-next{right: 4%;color:#da291c}
.testimonial_sec .swiper-button-prev{left: 4%;color:#da291c}


.testimonial_sec h2 {
	margin-bottom: 28px;
	margin-left: 70px;
	letter-spacing: 15px;
	color: #fff;
}
.testimonial_sec h5 {
	font-size: 14px;
	color: darkgray;
}
.right_testimonial {
	/* border-left: 2px solid #999; */
	/* padding-left: 75px; */
	margin: auto;
}


.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}
	.quote_icon_top::before {
		content: "\201C";
		font-size: 120px;
		margin-right: 5px;
		color: grey;
		text-align: center;
		font-weight: 300 !important;
		line-height: 30px;
		margin-bottom: -70px; 
		display: inline-block;
	}
	.quote_icon_top {
	position: relative;
	top: 30px;
}
.quote_icon_bottom::after {
	content: "\201D";
	font-size: 70px;
	margin-right: 5px;
	color: grey;
	text-align: center;
	font-weight: 300;
}


.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #fceaea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}

/*--------------------------------------------------------------
# case studies
--------------------------------------------------------------*/
.case_studies_tab .nav-link {
	border: none !important;
	padding: 0px !important;
}
.case_studies_tab .nav-link h4 {
	color: #b7b7b7;
	font-size: 18px !important;
	text-transform: capitalize !important;
	text-align: left;
	cursor: pointer;
	font-weight: 700;
}
.case_studies_tab {
	background: #e0dfde;
	padding: 60px 0px 0px;
}
.case_studies_tab_inner {
	padding: 0px 60px;
}
.case_studies_tab .nav-link.active.text-center {
	background: transparent !important;
}
.case_studies_tab .nav-link.text-center.active .count {
	width: 60px;
	height: 60px;
	font-size: 42px;
	line-height: 49px;
	margin-left: -8px;
	color: #ee7d53;
}
.case_studies_tab  li { 
	margin-bottom: 10px;
}
.studies_tab_content h3 {
	margin-top: 45px;
}

.case_studies_tab  .studies_tab_content h3 {
	margin-top: 45px;
	font-weight: 700;
	color: #867b76;
	text-transform: uppercase;
	font-style: italic;
}

.studies_tab_content p {
	font-size: 22px;
	color: #979696;
	font-weight: 400;
}
.case_studies_tab h2 {
	margin-bottom: 35px;
	margin-left: 0;
	letter-spacing: 15px;
	color: #867b76;
	margin-bottom: 120px;
	font-weight: 600;
}

.case_studies_tab .arrow-bottom {
	bottom: 130px;
}
.case_studies_tab .tab-content {
	border-left: 2px solid #ee7d53;
	padding-left: 80px;
}
.case_studies_tab .count {
	width: 40px;
	height: 40px;
	display: inline-block;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	align-content: center;
	line-height: 30px;
	border: 2px solid #ee7d53;
	margin-right: 15px;
	color: #000;
}


.awareness_section h2 {
	font-size: 24px;
	color: #8e8e8e;
	letter-spacing: 10px;
	margin-bottom: 110px;
}
.awareness_section {
	background:#fff !important;
}
.awareness_section {
	padding: 100px 50px 0 50px;
}

.arrow-bottom {
	/* background-color: #da291c; */
	border-radius: 50%;
	height: 75px;
	width: 75px;
	margin-bottom: 0px;
	text-align: center;
	align-content: center;
	line-height: 70px;
	position: fixed;
	bottom: 15px;
    opacity: 0.8;
	margin: auto;
	z-index: 12;
	right: 0px!important;
	left: 0px!important;
	top: auto!important;
	cursor:pointer;
	transform: translate3d(0px,0,0)!important;
}
.arrow-bottom img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.backtoTOP img {
    rotate: 180deg;
}
.arrow-bottom .swiper-pagination-bullet {
    margin: 0!important;
    display: none!important;
}
.arrow-bottom .swiper-pagination-bullet-active + .swiper-pagination-bullet {
	display: block!important;
    /* position: absolute; */
    top: 0;
    left: 0;
    background-image: url(../img/arrow-red.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-color: #da291c;
    border-radius: 50%;
    background-position: 19px 30px;
	opacity:1;
}

.intro_section .arrow-bottom {
	bottom: 70px;
}

footer {
	background: #2b0f51 !important;
}
footer .buttons_bottom {
	background: transparent;
	box-shadow: none;
}
.logo_footer img {
	max-width: 1000px;
}
.logo_footer {
	text-align: center;
	margin-top: 30px;
}
.footer_navigation li a {
	font-size: 22px;
	color: #fff;
	font-weight: 600;
}
.footer_navigation li {
	list-style: none;
}
.footer_navigation ul {
	display: flex;
	gap: 45px;
	margin: auto;
	text-align: center;
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 80px;
}
.footer_red {
	background: #800000;
	color: #fff;
	padding: 30px 40px;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}
body,html {
	overflow-x: hidden;
}
.awareness_right {
	background: url(../../assets/img/bgc1.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.awareness_left {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.awareness_section .swiper-pagination {
	display: none;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/


@media (max-width:1500px) {

.buttons_bottom .btn.btn-danger {
	background: #be1d2c;
	padding: 15px 40px;
}
.testimonial_sec .testimonial-item {
	background: #fff;
	padding: 50px 70px;
}
	.footer_navigation ul {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		padding: 0px 40px;
		padding-bottom: 57px;
	}
	.footer_red {
		padding: 15px 40px;
	}
}

@media (max-width:767px) {
.intro_section h1 {
	font-size: 35px;
	line-height: 40px;
}
#header .logo img {
	max-height: 60px;
	margin-top: -30px;
}
/* #header  #navbar {
	position: relative;
	top: 20px;
} */
.arrow-bottom {
	height: 50x;
	width: 50x;
	line-height: 52px;
}
.arrow-bottom .swiper-pagination-bullet-active + .swiper-pagination-bullet {
	height: 50px;
	width: 50px;
	background-position: 13px 21px;
}
.arrow-bottom img {
	width: 27px;
	
}
.bi.mobile-nav-toggle.bi-list {
	position: relative;
	top: 20px;
}

	.case_studies_tab .tab-content {
		border-left: 0px solid #ee7d53;
		padding-left: 0;
	}
	


	.testimonial_sec .testimonial-item {
		background: #fff;
		padding: 40px 30px;
	}
	.testimonial_sec .testimonial-item {
		background: #fff;
		padding: 40px 30px;
		flex-direction: column;
	}
	.right_testimonial {
	border-left: 0px solid #999;
	padding-left: 0;
}
.buttons_bottom {
	padding: 25px 20px;
	box-shadow: 2px 2px 12px #ccc;
	flex-direction: column;
	gap: 20px;
	margin: 0px;
}

.slider_main h1 {
	font-size: 50px;
}
.slider_main {
	left: 35px;
}
.slider_main h5 {
	font-size: 35px;
}
#intro_section {
	padding: 0px 0px 20px 0px;
}
.left_intro {
	border-right: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}
.right_intro_sec {
	font-size: 22px;
	color: #7b7b7b;
}
.left_intro br {
	display: none;
}
.case_studies_tab {
	background: #e0dfde;
	padding: 60px 20px;
}
.case_studies_tab h2 {
	margin-bottom: 35px;
	margin-left: 0;
	margin-bottom: 0;
}
.case_studies_tab .arrow-bottom {
	bottom: 0;
	position: static;
}
.testimonial_sec {
	padding: 50px 20px;
}
.testimonial_sec h2 {
	margin-left: 0;
	letter-spacing: 5px;
	color: #fff;
	text-align: center;
}
.medical_features .nav-item.col {
	width: 100%;
	flex: 0 0 100%;
}
.tabs .tab-content {
	padding: 40px 20px;
	color: #fff;
	text-align: center;
}
.tab_content_center img {
	max-width: 270px !important;
	margin-top: 25px;
	margin-bottom: 35px;
}
.services_tab .nav-item.col {
	width: 100%;
	flex: 1 1 100%;
}
.services_tab .nav.nav-tabs {
	background: #2a0d51;
	padding-top: 25px;
	padding-bottom: 10px;
}

.services_tab .nav-link.text-center {
	padding: 0px;
	margin-bottom: 7px;
	border: none !important;
}
.services_tab_content h2 {
	margin-bottom: 20px;
}
.services_tab .tab-content {
	padding: 40px 20px 50px 20px !important;
}
.services_tab_content p {
	color: #626262;
	font-size: 18px;
	line-height: 32px;
}
.services_tab h5 {
	font-size: 28px;
}
.services_tab_content li {
	font-size: 29px;
	color: #867b76;
	list-style: disc;
	margin-left: 30px;
} 
.services_tab_content {
	padding: 40px 180px;
}

.services_tab_content li {
	font-size: 29px;
	color: #867b76;
	list-style: disc; 
	margin-left: 30px;
} 
.services_tab_content {
	padding: 40px 20px;
}
.intro_section { 
	height: auto;
}
.tabs.services_tab li {
	font-size: 19px;
	text-align: left;
}
.intro_section .arrow-bottom {
	position: static;
}
.awareness_section {
	padding: 40px 20px 0 20px;
}
.awareness_section h2 {
	font-size: 24px;
	margin-bottom: 30px;
}
.logo_footer img {
	max-width: 290px;
}
.footer_navigation ul {
	display: flex;
	gap: 5px;
	margin: auto;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
}
.footer_navigation ul {
	margin-top: 20px;
	margin-bottom: 35px;
}
.logo_footer {
	text-align: center;
	margin-top: 20px;
}
/* .main-slider .swiper-slide img { */
	/* height: 55vh; */
/* } */
.studies_tab_content p {
	font-size: 17px;
}
.buttons_bottom .btn.btn-danger {
	padding: 15px 10px;
}
.right_header.text-end {
	display: none;
}
.case_studies_tab_inner {
	padding: 0px 10px;
}
.services_tab  .services_tab_content h2 {
	font-size: 31px !important;
	letter-spacing: 2px !important;
}

footer .buttons_bottom {
	padding: 25px 20px;
	flex-direction: column;
	gap: 5px;
	margin: 0px;
}
footer .buttons_bottom .btn.btn-danger {
	padding: 7px 10px;
}
.logo_footer {
	margin: auto;
}
}
@media (max-width:1500px) { 
	.studies_tab_content img {
		max-width: 450px;
		margin: 0 auto;
		display: block;
	}
	.case_studies_tab {
		padding: 40px 0px 0px;
	}
}

@media (min-width:1024px) {
	.services_tab .nav-link.text-center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
}


@media (min-width:768px) and (max-width:992px) {
	.intro_section h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.right_header.text-end {
	display: none;
}
	.bi.bi-list.mobile-nav-toggle {
	position: relative;
	top: -23px;
}
.case_studies_tab .arrow-bottom {
	bottom: 0px;
}
	.left_intro h1 br {
		display: none;
	}
	.left_intro {
		border-right: 0px solid #fff;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.right_intro_sec {
		font-size: 23px;
		color: #7b7b7b;
	}
	.intro_section {
		height: auto;
	}
	.slider_main h1 {
	font-size: 60px;
}
.slider_main h5 {
	font-size: 35px;
	color: #db1c1c;
	text-transform: uppercase;
}
.slider_main {
	left: 40px;
}
#intro_section {
	padding: 0px 20px 40px 20px;
}
.case_studies_tab {
	padding: 60px 20px;
}
.case_studies_tab .tab-content {
	padding-left: 40px;
}
.studies_tab_content p {
	font-size: 17px;
	color: #979696;
	font-weight: 400;
}
.buttons_bottom {
	padding: 25px 10px;
	margin: -20px;
	box-shadow: 2px 2px 12px #ccc;
	flex-wrap: wrap;
	gap: 10px;
}

.buttons_bottom .btn.btn-danger {
	background: #be1d2c;
	padding: 15px 40px;
	width: calc(50% - 10px);
}
.testimonial_sec {
	background: #878484;
	padding: 70px 20px;
}
.testimonial_sec {
	background: #878484;
	padding: 70px 20px;
}
.testimonial_sec .testimonial-item {
	background: #fff;
	padding: 40px 30px;
	flex-direction: column;
}
.right_testimonial {
	border-left: none;
	padding-left: 0;
}
.client_testimonials .buttons_bottom {
	padding: 25px 40px;
}
.medical_features .nav-item.col {
	width: 33%;
	flex: 1 1 33%;
}
.medical_features .nav.nav-tabs {
	gap: 5px;
}
.medical_features .nav-link.text-center {
	padding: 0px;
}

.medical_features h2 {
	text-align: center;
	margin-bottom: 25px;
}
.tab_content_center img {
	max-width: 400px;
	margin-bottom:25px;
}
.tab_content_center {
	text-align: center;
}
.tabs .tab-content {
	padding: 50px 30px;
	color: #fff;
}
.medical_features .buttons_bottom {
	padding: 25px 40px;
}
.services_tab .nav-item.col {
	width: 33%;
	flex: 1 1 33%;
}
.services_tab .nav.nav-tabs {
	background: transparent;
}
.services_tab  .nav-link.text-center {
	padding: 0px;
}
.services_tab .nav.nav-tabs {
	gap: 5px;
}
.services_tab_content h2 {
	margin-bottom: 30px;
}
.services_tab .buttons_bottom {
	padding: 25px 40px;
	margin: -20px;
	box-shadow: 2px 2px 12px #ccc;
	flex-wrap: wrap;
	gap: 10px;
}
.awareness_section .buttons_bottom {
	padding: 25px 50px;
	margin: -20px;
	box-shadow: 2px 2px 12px #ccc;
	flex-wrap: wrap;
	gap: 10px;
}
.logo_footer img {
	max-width: 410px;
}

	.arrow-bottom {
		height: 55px;
		width: 55px;
		line-height: 55px !important;
	}
	.arrow-bottom .swiper-pagination-bullet-active + .swiper-pagination-bullet {
		height: 55px;
		width: 55px;
		background-position: 15px 23px;
	}
}


@media (min-width:992px) and (max-width:1200px) { 
.buttons_bottom {
	background: #fff;
	padding: 25px 30px;
	display: flex;
	margin: 0px 0 0 0;
	box-shadow: 2px 2px 12px #ccc;
}
.right_toggle_menu {
	display: none !important;
}
.case_studies_tab .arrow-bottom {
	bottom: 0px;
}
.buttons_bottom .btn.btn-danger {
	background: #be1d2c;
	padding: 15px 10px;
}
.tabs h4 {
	font-size: 14px;
	letter-spacing: 1px;
}
.logo_footer img {
	max-width: 500px;
}
.intro_section h1 {
	font-size: 60px;
	line-height: 60px;
}
#intro_section {
	background: #e1e0e0;
	padding: 0px 20px 40px 20px;
}
.testimonial_sec {
	background: #878484;
	padding: 70px 30px;
}
#header .navigation {
	width: 80%;
}
}


@media (min-width:1200px) and (max-width:1400px) {  
#header .navigation {
	width: 50%;
}
.right_toggle_menu {
	width: 33%;
}

.buttons_bottom {
	background: #fff;
	padding: 25px 90px;
}
.intro_section h1 {
	font-size: 90px;
	font-weight: bold;
	color: #af3438;
	line-height: 70px;
}
.logo_footer img {
    max-width: 600px;
}
}